body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./imagenes/SOS.jpeg');
    height:100vh;
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat:repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */   
}

.container {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #363636b7; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #80817ab7;
}
